body {
  background-color: white;
  margin: 0px !important;
  padding: 0px !important;
}

#header {
  height: 100vh;
  width: 100vw;

  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

#header > h1 {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 150px;
  color: white;
}

#intro {
  margin: 0;
  padding: 100px;
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serifs;
  font-weight: 200;
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#recipe-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipe-info > img {
  height: 80px;
}

hr {
  border: none;
  height: 1.5px;
  background-color: grey;
  width: 85%;
}

h3 {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  padding-left: 150px;
}

ul {
  list-style-type: "- " !important;
  padding-left: 180px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serifs;
  font-weight: 200;
  font-size: 20px;
}

#cooking-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cooking-info > img {
  height: 80px;
}

ol {
  counter-reset: item;
  padding-left: 180px;
  width: 80vw;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serifs;
  font-weight: 200;
  font-size: 20px;
}
